<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging.Core" version="3.3.0" targetFramework="net452" />
  <package id="NetLegacySupport.Action" version="1.0.3" targetFramework="net452" />
  <package id="NetLegacySupport.ConcurrentDictionary" version="1.0.2" targetFramework="net452" />
  <package id="TypeAlias" version="1.0.1" targetFramework="net452" />
</packages>