<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NetLegacySupport.Action" version="1.0.3" targetFramework="net452" />
  <package id="NetLegacySupport.ConcurrentDictionary" version="1.0.2" targetFramework="net452" />
  <package id="NetLegacySupport.Tuple" version="1.0.2" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net35" requireReinstallation="true" />
  <package id="TypeAlias" version="1.0.0" targetFramework="net452" />
</packages>