<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Akka.Interfaced.SlimSocket.Base" version="0.2.0" targetFramework="net46" />
  <package id="Akka.Interfaced.SlimSocket.Client" version="0.2.0" targetFramework="net46" />
  <package id="Akka.Interfaced-Base" version="0.2.0" targetFramework="net46" />
  <package id="Akka.Interfaced-SlimClient" version="0.2.0" targetFramework="net46" />
  <package id="Common.Logging" version="3.3.1" targetFramework="net46" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net46" />
  <package id="Common.Logging.NLog41" version="3.3.1" targetFramework="net46" />
  <package id="NetLegacySupport.Action" version="1.1.0" targetFramework="net46" />
  <package id="NetLegacySupport.ConcurrentDictionary" version="1.1.0" targetFramework="net46" />
  <package id="NetLegacySupport.Tuple" version="1.1.0" targetFramework="net46" />
  <package id="NLog" version="4.1.2" targetFramework="net46" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net46" />
  <package id="TypeAlias" version="1.1.2" targetFramework="net46" />
</packages>